node_modules
design organick
package-lock.json

src/context
src/App.jsx
src/GlobalStyles.scss
src/pages

src/components/*
!src/components/About
!src/components/Gallery
!src/components/News
!src/components/Banner
!src/components/Card

