node_modules
design organick
package-lock.json

src/App.jsx
src/GlobalStyles.scss

####### components #######
src/components/*
#about-us
!src/components/about-us
#services-intro
!src/components/services-intro
#home
!src/components/home
#footers
!src/components/footers

####### pages #####
src/pages/*
!src/pages/AboutUs
!src/pages/Services
!src/pages/News
!src/pages/Team
!src/pages/Error

