@import "../../../Variables.scss";

.choose {
  background-color: #f9f8f8;

  &__wrapper {
    padding: 130px 0px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: start;
    margin-bottom: 50px;

    &-info {
      &-title {
        margin-bottom: 15px;

        &-subheading {
          font-family: "Yellowtail", cursive;
          font-weight: 400;
          font-size: 36px;
          color: $light-green;
          line-height: 1.8;
        }

        &-heading {
          font-family: "Roboto", sans-serif;
          text-align: left;
          font-weight: 900;
          font-size: 45px;
          color: $dark-blue;
          margin: 10px 0px 20px;
          line-height: 1.3;
        }

        &-description {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.6;
          color: $dark-gray;
        }
      }

      &-organic {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        #about-us-img {
          width: 55px;
        }

        &:last-child {
          margin-bottom: 0px;
        }

        &-description {
          width: 80%;

          &-title {
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            font-size: 20px;
            color: $dark-blue;
            margin: 10px 0px 15px 0px;
          }

          &-text {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.6;
            color: $dark-gray;
          }
        }
      }
    }
  }

  &__feature {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    &-item {
      background-color: $white;
      border-radius: 30px;
      padding: 50px 25px;
      text-align: center;

      &-title {
        color: $dark-blue;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 25px;
        margin: 15px 0px;
      }

      &-description {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: $dark-gray;
        line-height: 1.6;
      }
    }
  }
}
