@import "../../../Variables.scss";

.header {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;

    &-menu {
      display: flex;
      align-items: center;

      &-logo {
        display: flex;
        align-items: center;

        span {
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          font-size: 38px;
          margin-left: 10px;
          color: $dark-blue;
        }
      }

      &-navigation {
        margin-left: 100px;

        &-items {
          position: relative;
          display: flex;
          align-items: center;

          &-item {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: $dark-blue;
            cursor: pointer;

            &-link {
              padding: 20px;

              &:hover {
                color: $light-green;
              }
            }

            &_active {
              color: $light-green;
            }
          }

          &-submenu {
            &-text {
              display: flex;
              font-family: "Roboto", sans-serif;
              font-weight: 500;
              font-size: 20px;
              color: $dark-blue;
              cursor: pointer;
              padding: 20px;

              &-arrow {
                display: block;
                width: 10px;
                height: 10px;
                margin-left: 10px;
                border-left: 2px solid $dark-blue;
                border-bottom: 2px solid $dark-blue;
                transform: rotate(-45deg);
                cursor: pointer;
                transition: 0.5s ease;

                &:hover {
                  border-left: 2px solid $light-green;
                  border-bottom: 2px solid $light-green;
                }

                &_active {
                  transform: rotate(315deg);
                  border-left: 2px solid $light-green;
                  border-bottom: 2px solid $light-green;
                }
              }
            }

            &-lists {
              display: none;
              position: absolute;
              top: 50px;
              right: -25%;
              min-width: 200px;
              background-color: $pale-blue;
              transition: 0.5s ease;
              padding: 10px;
              z-index: 2;

              &_visible {
                display: block;
              }

              &-list {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                cursor: pointer;
                font-size: 18px;
                color: #000;
                &_active {
                  color: $light-green;
                }

                &-link {
                  display: block;
                  padding: 20px;

                  &:hover {
                    color: $light-green;
                  }
                }
              }
            }
          }
        }
      }
    }

    &-search {
      display: flex;
      align-items: center;

      &-btn {
        cursor: pointer;
        background-color: transparent;
      }

      &-cart-btn {
        position: relative;
        margin-left: 10px;
        cursor: pointer;
        background-color: transparent;

        &-value {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Open Sans", sans-serif;
          border-radius: 50%;
          font-weight: 400;
          top: -15px;
          font-size: 14px;
          right: 0;
          transition: 0.5s ease;
          position: absolute;
          width: 30px;
          height: 30px;
          background-color: $light-green;
          color: $white;
        }

        &_hidden {
          pointer-events: none;
        }
      }
    }
  }
}
