$dark-blue: #274c5b;
$light-green: #7eb693;
$yellow: #efd372;
$line-color: #d4d4d4;
$pale-blue: #eff6f1;
$dark-gray: #525c60;
$white-gray: #e0e0e0;
$white: #ffffff;
$dark-gray-sail-price: #b8b8b8;
$error: #8fa8a8;
