@import "../../../Variables.scss";

.feedback {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0px;

    &-img {
      height: 640px;
      width: 620px;
      border-radius: 20px;
    }

    &-info {
      width: 50%;

      &-title {
        margin-bottom: 35px;
        &-heading {
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          font-size: 50px;
          color: $dark-blue;
          margin-bottom: 18px;
          line-height: 1.3;
        }

        &-subheading {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: $dark-gray;
          line-height: 1.8;
        }
      }

      &-items {
        display: inline-block;
        min-width: 385px;
        border-radius: 16px;
        padding: 15px 50px 15px 15px;
        border: 1px solid #eee;
        margin-bottom: 40px;

        &-item {
          display: flex;
          align-items: center;

          &-img {
            height: 89px;
            width: 89px;
          }

          &-layout {
            margin-left: 20px;
            &-label {
              font-family: "Roboto", sans-serif;
              font-size: 25px;
              font-weight: 700;
              color: $dark-blue;
              line-height: 1.3;
              margin-bottom: 5px;
            }

            &-link {
              color: $dark-gray;
              font-family: Open Sans, sans-serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 1.6;
              text-decoration: none;

              &:hover {
                color: $light-green;
              }
            }
          }
        }
      }
    }
  }
}
